*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightskyblue;
    box-sizing: border-box;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 2%;
    padding-right: 2%;
}
.head{
    height: 20vh;
    width: 100%;
    background-size: auto;
    background-position: center;
    padding-top: 1%;
}
.logo{
    color: darkmagenta;
    font-size: 75px;
    letter-spacing: 1px;
    cursor: pointer;
}
span {
    color: yellow;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 20px 30px;
    font-size: x-large;
}
nav ul li a{
    color: yellow;
    text-decoration: none;
    font-weight: capitalize;
}
nav ul li a:hover{
    color:darkred;
    transition: .8s;
}
nav ol img{
    width: 800px;
}
.about{
    flex-direction: column; 
}
main{
    justify-content: center;
}
main ol li img{
    width: 40%;
}
main h3{
    font-size: 20px;
    padding-bottom: 1%;
}
main h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
    padding-bottom: 1%;
    color: darkmagenta;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
  }
  
  .main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px;
    background: #13293d;
    color: yellow;
  }
  
  .card {
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
  }
  
  .card header {
    padding: 20px;
    background: darkmagenta;
    color: #fff;
  }
  
  .card img {
    width: 100%;
    min-width: 400px;
  }