*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgray;
    box-sizing: border-box;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 2%;
    padding-right: 2%;
}
.head{
    height: 20vh;
    width: 100%;
    background-size: auto;
    background-position: center;
    padding-top: 1%;
}
.logo{
    color: darkmagenta;
    font-size: 75px;
    letter-spacing: 1px;
    cursor: pointer;
}
span {
    color: yellow;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 20px 30px;
    font-size: x-large;
}
nav ul li a{
    color: yellow;
    text-decoration: none;
    font-weight: capitalize;
}
nav ul li a:hover{
    color:darkred;
    transition: .8s;
}
.about img{
    width: 605px;
    flex-wrap: center;
}
.about{
    background-color: yellow;
    border-radius: 50%;
    text-align: center;
}
.about header{
    color: aliceblue;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 20px;   
    background-color: darkmagenta;
}
.about h1{
    font-size: 40px;
    color: yellow;
    background-color: darkmagenta;
}
.about p{
    color: #234;
    font-size: 30px;
    background-color:aliceblue;
    border-radius: 15%;
}
.projects header {
    color: aliceblue;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 20px;   
    background-color: darkmagenta;
}
.projects{
    background-color: yellow;
    border-radius: 50%;
    text-align: center;
}
.projects ul li {
    color:#234;
    font-size: 30px;
    background-color: aliceblue;
}


  
